@import url('for_index.css');

*{
    outline: none;
    outline-offset: none;
    outline-style: none;
    outline-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

body {
    overflow: hidden;
}

#main {
    min-width: 360px;
    min-height: 360px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

img {
    position: absolute;
    transform: translateX(-50%);
}

img.main_img {
    position: relative;
}

.main_bg {
    width: 100%;
    left: 50%;
    top: 0%;
}

.copyrights {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    font-size: 12px;
    line-height: 12px;
    font-family: "Lato";
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(0deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
    z-index: 1;
}
.copyrights span {
    margin-top: 5px;
}
.copyrights img {
    position: static;
    height: 30px;
    max-width: 180px;
    transform: translateX(0%)
}
@media screen and (max-width: 385px) {
    .copyrights {
        font-size: 10px;
        line-height: 10px;
    }
}
@media screen and (min-width: 550px) {
    .copyrights {
        font-size: 14px;
        line-height: 14px;
    }
    .copyrights img {
        position: static;
        height: 40px;
    }
}
@media screen and (min-width: 768px) {
    .copyrights {
        font-size: 18px;
        line-height: 18px;
    }
    .copyrights img {
        position: static;
        height: 45px;
    }
}
@media screen and (min-width: 1440px) {
    .copyrights {
        font-size: 22px;
        line-height: 22px;
    }
    .copyrights img {
        position: static;
        height: 50px;
    }
}

.logo {
    width: 22%;
    top: 2.15%;
    left: 50%;
}
.logo_final {
    width: 41%;
    left: 65%;
    top: -20%;
    animation: play_logo .5s 1 forwards paused;
}
@keyframes play_logo { 
    60% {
        top: 6%;
    }
    80% {
        top: -1.5%;
    }
    100% {
        top: 0%;
    }
}
.table {
    left: 50%;
    bottom: 0;
    height: 62%;
}

.dish_plate {
    width: 27%;
    top: 36.5%;
}
.dish_plate_0 {
    left: 31%;
}
.dish_plate_1 {
    left: 69%;
}
.dish_plate_2 {
    width: 32%;
    top: 53%;
    left: 50%;
}
.forms {
    width: 31.5%;
    left: 20%;
    top: 48%;
}
.forms.final {
    top: 103%;
    left: 3%;
    animation: play_table .5s 1 forwards paused;
}
.plate {
    width: 15%;
    top: 46%;
    left: 76%;
}
.coffe {
    width: 10%;
    top: 54%;
    left: 78%;
}
.icecream {
    width: 12%;
    top: 67%;
    left: 24%;
}
.rollingpin {
    width: 16.35%;
    top: 72%;
    left: 29%;
}
.rollingpin.final {
    top: 104%;
    left: 78.5%;
    animation: play_table .5s 1 forwards paused;
}
@media screen and (max-width: 385px) {
    .rollingpin.final {
        left: 71%;
    }
}   

.eat {
    width: 15%;
    bottom: 56.5%;
}

.eat_0 {
    left: 31.2%;
}

.eat_1 {
    left: 69%;
}

.eat_2 {
    width: 18%;
    bottom: 39%;
    left: 50%;
}
.dish {
    bottom: 55.65%;
    width: 23%;
    transition: all .65s ease-in-out;
    cursor: pointer;
}

.dish_0 {
    left: 31%;
}

.dish_0.active {
    bottom: 70%;
    left: 28%;
    transform: translateX(-60%) rotate(-27deg);
}

.dish_1 {
    bottom: 55.65%;
    left: 69%;
}

.dish_1.active {
    bottom: 70%;
    left: 72%;
    transform: translateX(-40%) rotate(27deg);
}

.dish_2 {
    width: 26%;
    bottom: 37.8%;
    left: 50%;
}

.dish_2.active {
    bottom: 55%;
    left: 47%;
    transform: translateX(-60%) rotate(-27deg);
}

.cat_hand {
    width: 29%;
    bottom: -100%;
    left: 39%;
    transform: rotate(3deg) translateY(-6%) translateX(-3%);
    transition: all .5s ease-in-out;
    animation: move_hand 1.25s infinite;
}

@keyframes move_hand { 
    0% { 
        transform: rotate(3deg) translateY(-6%) translateX(-3%);
    } 
    50% {
        transform: rotate(-3deg) translateY(-3%) translateX(-4%);
    }
    100% {
        transform: rotate(3deg) translateY(-6%) translateX(-3%);
    }
}

.cat_body {
    width: 32%;
    bottom: -100%;
    left: 73%;
    transition: all .5s ease-in-out;
}
.cat_final {
    height: 67%;
    bottom: 100%;
    left: 150%;
    animation: cat_final .5s 1s 1 forwards paused;
}

@keyframes cat_final { 
    from { 
        bottom: 100%;
        left: 150%;
    }
    to {
        left: 63%;
        bottom: 0%;
    }
}

.scene_result, .rays {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: scene_result .25s 1.5s 1 forwards paused;
}

.scene_result {
    width: 70%;
    top: 41%;
}

@media screen and (max-width:450px) {
    .scene_result {
        width: 50%;
    }
    .cat_final {
        height: 59%;
    }
    .logo_final {
        width: 35%;
        left: 60%;
    }
}

@media screen and (max-width:385px) {

    .logo_final {
        width: 35%;
        left: 57%;
    }
    @keyframes cat_final { 
        from { 
            bottom: 100%;
            left: 150%;
        }
        to {
            left: 59%;
            bottom: 0%;
        }
    }
}

.rays {
    width: 100%;
    top: 50%;
}

.candice {
    height: 80%;
    top: -100%;
    left: -50%;
    animation: candice .5s 1s 1 forwards paused;
}

@keyframes candice { 
    from { 
        top: -100%;
        left: -50%;
    }
    to {
        top: 8.8%;
        left: 37%;
    }
}

@media screen and (max-width:450px) {
    .candice {
        height: 70%;
    }
    @keyframes candice { 
        from { 
            top: -100%;
            left: -50%;
        }
        to {
            top: 18.8%;
            left: 37%;
        }
    }
}

@keyframes scene_result { 
    0% { 
        transform: translate(-50%, -50%) scale(15);
    } 
    92% {
        transform: translate(-50%, -50%) scale(.85);
        opacity: 1;
    }
    96% {
        transform: translate(-50%, -50%) scale(1.15);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.final_bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    animation: play_scene .65s 1 forwards paused;
}

@keyframes play_scene { 
    from { 
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

.table_final {
    width: 100%;
    bottom: -15%;
    animation: play_table .5s 1 forwards paused;
}

@keyframes play_table { 
    60% { 
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(-160%);
    }
    100% {
        transform: translateY(-128%);
    }
}

/*@media screen and (max-width:450px) {
    .dish_plate_0 {
        left: 21.5%;
    }
    .dish_plate_1 {
        right: 21.5%;
    }
    .eat_0 {
        left: 35.2%;
    }
    .eat_1 {
        right: 35.2%;
    }
    .dish_0 {
        left: 35%;
    }
    .dish_1 {
        right: 35%;
    }
    .forms {
        left: 4%;
        top: 48%;
    }
    .plate {
        left: 66%;
    }
    .coffe {
        left: 67%;
    }
    .icecream {
        left: 26%;
    }
    .rollingpin {
        left: 26%;
    }
}*/

.button_play_now {
    left: 50%;
    width: 50%;
    bottom: -30%;
    transform: translateX(-50%) scale(1);
    animation: button_play_now .4s 1 forwards paused;
    cursor: pointer;
}

@keyframes button_play_now { 
    60% { 
        bottom: 10%;
    }
    90% {
        bottom: 7%;
    }
    100% {
        bottom: 10%;
    }
}

@keyframes button_play_now_wait { 
    from { 
        transform: translateX(-50%) scale(1);
    }
    33% {
        transform: translateX(-50%) scale(1.05);
    }
    66% {
        transform: translateX(-50%) scale(.95);
    }
    to {
        transform: translateX(-50%) scale(1);
    }
}

.button_restart {
    width: 5.5%;
    bottom: 3.33%;
    right: -150px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}