@import url('for_index.css');

*{
    outline: none;
    outline-offset: none;
    outline-style: none;
    outline-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main {
    min-width: 360px;
    min-height: 360px;
    position: relative;
}

img {
    position: absolute;
}

img.main_img {
    position: relative;
}

.logo {
    width: 22%;
    top: 2.15%;
    left: 50%;
    transform: translateX(-50%);
}

.table {
    bottom: 0;
}

.dish_plate {
    width: 27%;
}
.dish_plate_0 {
    left: 17.5%;
    top: 36.5%;
}
.dish_plate_1 {
    top: 36.5%;
    right: 17.5%;
}
.dish_plate_2 {
    width: 32%;
    top: 53%;
    right: 50%;
    transform: translateX(50%);
}
.forms {
    width: 31.5%;
    left: 2%;
    top: 48%;
}
.plate {
    width: 15%;
    top: 46%;
    left: 71%;
}
.coffe {
    width: 10%;
    top: 54%;
    left: 74%;
}
.icecream {
    width: 12%;
    top: 67%;
    left: 19%;
}
.rollingpin {
    width: 16.35%;
    top: 72%;
    left: 21%;
}

.eat {
    width: 15%;
}

.eat_0 {
    transform: translate(-50%);
    bottom: 57%;
    left: 31.2%;
}

.eat_1 {
    transform: translate(50%);
    bottom: 57%;
    right: 31.2%;
}

.eat_2 {
    width: 19%;
    transform: translate(-50%);
    bottom: 39.5%;
    left: 50%;
}
.dish {
    width: 23%;
    transition: all .65s ease-in-out;
    cursor: pointer;
}

.dish_0 {
    transform: translate(-50%);
    bottom: 55.65%;
    left: 31%;
}

.dish_0.active {
    bottom: 70%;
    left: 28%;
    transform: translate(-50%) rotate(-27deg);
}

.dish_1 {
    transform: translate(50%);
    bottom: 55.65%;
    right: 31%;
}

.dish_1.active {
    bottom: 70%;
    right: 28%;
    transform: translate(50%) rotate(27deg);
}

.dish_2 {
    width: 26%;
    transform: translate(-50%);
    bottom: 37.8%;
    left: 50%;
}

.dish_2.active {
    bottom: 55%;
    left: 47%;
    transform: translate(-50%) rotate(-27deg);
}

.cat_hand {
    width: 29%;
    bottom: 0%;
    right: 32%;
    transform: rotate(-4deg);
    animation: move_hand 1.25s infinite;
}

@keyframes move_hand { 
    0% { 
        bottom: 2%;
        right: 32.15%;
        transform: rotate(4deg);
    } 
    50% {
        width: 29%;
        bottom: 0%;
        right: 31.5%;
        transform: rotate(-4deg);
    }
    100% {
        bottom: 2%;
        right: 32.15%;
        transform: rotate(4deg);
    }
}

.cat_body {
    width: 32%;
    bottom: 0;
    right: 10%;
}

.scene_result, .rays {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.scene_result {
    width: 70%;
    top: 41%;
}

.rays {
    width: 100%;
    top: 50%;
}

.now_play {
    animation: scene_result .25s 1.5s 1 forwards;
}

@keyframes scene_result { 
    0% { 
        transform: translate(-50%, -50%) scale(15);
    } 
    92% {
        transform: translate(-50%, -50%) scale(.85);
        opacity: 1;
    }
    96% {
        transform: translate(-50%, -50%) scale(1.15);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}