*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  line-height: 1em;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#main {
    width: 960px;
    height: 960px;
    min-width: 360px;
    min-height: 360px;
    position: relative;
}

img {
    position: absolute;
}

.logo {
    top: 2.15%;
    left: 50%;
    transform: translateX(-50%);
}

.table {
    bottom: 0;
}

.dish_plate {
    width: 27%;
}
.dish_plate_0 {
    left: 17.5%;
    top: 36.5%;
}
.dish_plate_1 {
    top: 36.5%;
    right: 17.5%;
}
.dish_plate_2 {
    width: 32%;
    top: 53%;
    right: 50%;
    transform: translateX(50%);
}
.forms {
    width: 31.5%;
    left: 2%;
    top: 48%;
}
.plate {
    width: 15%;
    top: 46%;
    left: 71%;
}
.coffe {
    width: 10%;
    top: 54%;
    left: 74%;
}
.icecream {
    width: 12%;
    top: 67%;
    left: 19%;
}
.rollingpin {
    width: 16.35%;
    top: 72%;
    left: 21%;
}

.eat {
    width: 15%;
}

.eat_0 {
    transform: translate(-50%);
    bottom: 57%;
    left: 31.2%;
}

.eat_1 {
    transform: translate(50%);
    bottom: 57%;
    right: 31.2%;
}

.eat_2 {
    width: 19%;
    transform: translate(-50%);
    bottom: 39%;
    left: 50%;
}
.dish {
    width: 23%;
}

.dish_0 {
    transform: translate(-50%);
    bottom: 55.65%;
    left: 31%;
}

.dish_1 {
    transform: translate(50%);
    bottom: 55.65%;
    right: 31%;
}

.dish_2 {
    width: 26%;
    transform: translate(-50%);
    bottom: 37.8%;
    left: 50%;
}